@font-face {
    font-family: monte;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

* {
    outline: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}

button {
    border: none;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    margin: 8px;
    cursor: pointer;
}

.main-container {
    background-color: #e3e3e3;
}

.container {
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.gallery-container {
    grid-template-columns: repeat(4, 320px);
    column-gap: 20px;
    row-gap: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}

.meme-edit {
    padding-bottom: 27px;
    padding-top: 27px;
    display: none;
    width: 1000px;
}

.properties-first {
    padding: 10px;
    width: 350px;
}

.mobile-menu-btn {
    visibility: hidden;
}

.properties-second {
    padding: 10px;
    width: 390px;
}

.logo {
    width: 133px;
    height: 22px;
    color: #ffffff;
    cursor: pointer;
}

.main-nav {
    height: 66px;
    background-color: #ff7f00;
}

.search-bar {
    height: 100px;
    background-color: #fff;
}

.search-input {
    width: 300px;
    height: 30px;
    border: none;
    font-size: 1.1rem;
    border-bottom: solid 2px black;
}

.searched-item {
    padding-left: 20px;
    max-height: 30px;
    cursor: pointer;
}

.more-btn {
    text-decoration: underline;
}

.stickers-container {
    width: 370px;
    border-radius: 10px;
    background-color: #fff;
    height: 130px;
}

.sticker-box {
    width: 300px;
}

.sticker {
    width: 80px;
    height: 80px;
}

.gift-st {
    background-image: url(../imgs/stickers/gift-sticker.svg);
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center;
}

.hat-st {
    background-image: url(./imgs/stickers/hat-sticker.svg);
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center;
}

.glasses-st {
    background-image: url(../imgs/stickers/glasses-sticker.svg);
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center;
}

.funny-st {
    background-image: url(../imgs/stickers/funny-sticker.svg);
    background-repeat: no-repeat;
    background-size: 80px 80px;
    background-position: center;
}

.sticker-nxt {
    width: 40px;
    height: 40px;
    background-image: url(../imgs/stickers/sticker-nxt-btn.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.sticker-prev {
    width: 40px;
    height: 40px;
    background-image: url(../imgs/stickers/sticker-prev-btn.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.search-label {
    background-image: url(./icones/search-icon.svg);
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.upload-label {
    cursor: pointer;
}

.main-menu-btn {
    color: #fff;
    font-family: monte, sans-serif;
    font-size: 19px;
    padding-left: 30px;
    cursor: pointer;
}

.txt-toggle-btn {
    background-image: url(./icones/up-down-icon.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.add-line-btn {
    background-image: url(./icones/plus-icon.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.inc-font-btn {
    background-image: url(./icones/inc-font-icon.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.txt-stroke-btn {
    background-image: url(./icones/text-stroke.png);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.dec-font-btn {
    background-image: url(./icones/reduce-font-icon.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.delete-line-btn {
    background-image: url(./icones/trash-icon.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.txt-align-left {
    background-image: url(./icones/left-text-icon.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.txt-align-center {
    background-image: url(./icones/center-text-icon.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.download-btn, .share-btn, .facebook-btn, .save-btn {
    margin: 2px;
    min-width: 110px;
    height: 31px;
    border-radius: 12px;
    color: white;
    font-size: 1.3rem;
    text-align: center;
    background-color: #ff7f00;
    padding-top: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.share-btn {
    padding-bottom: 31px;
}

.share-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.share-modal {
    z-index: 99;
    position: fixed;
    top: 300px;
    height: calc(100vh - 600px);
    left: 450px;
    width: calc(100% - 900px);
    min-width: 300px;
    background-color: rgba(255, 255, 255, 0.89);
    visibility: hidden;
    border-radius: 10px;
    transition: .7ms;
}

.close-modal {
    cursor: pointer;
    padding-right: 10px;
    align-self: flex-end;
}

.txt-align-right {
    background-image: url(./icones/right-text-icon.svg);
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
}

.txt-color-input {
    border: none;
    width: 60px;
    height: 60px;
    display: none;
}

.file-input {
    display: none;
}

.input-background {
    background-image: url(./icones/paint-bar-icon.svg);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: center;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    margin: 8px;
    cursor: pointer;
}

.fonts-select {
    margin: 10px;
    border: none;
    width: 205px;
    height: 50px;
    font-size: 1.1rem;
}

.image-item {
    width: 100%;
    cursor: pointer;
}

.meme-item {
    width: 100%;
}

.image-item:hover {
    filter: brightness(120%);
}

.txt-input {
    width: 350px;
    font-size: 1rem;
    padding-left: 15px;
    border-radius: 10px;
    border: none;
    background-color: #fff;
    height: 60px;
}

.footer-txt {
    padding-top: 20px;
    color: #ffffff;
    font-family: monte, sans-serif;
    font-size: 19px;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #ff7f00;
}

.blur {
    filter: blur(4px) brightness(20%);
}

@media (max-width: 480px) {
    html {
        font-size: 16px;
    }
    .gallery-container {
        grid-template-columns: 355px;
        column-gap: 20px;
        row-gap: 20px;
    }
    .properties-container {
        width: 355px;
    }
    .mobile-menu-btn {
        background-color: #ff7f00;
        color: #fff;
        font-size: 2rem;
        visibility: visible;
    }
    .menu-open .main-menu {
        transform: translate(0, 0);
    }
    .main-menu {
        flex-direction: column;
        position: fixed;
        top: 65px;
        height: 70px;
        width: 100vw;
        transform: translate(0, -500px);
        transition: transform .6s;
        background-color: #ff7f00;
        margin-bottom: 10px;
    }
    .container {
        padding: 10px;
        margin: 0;
    }
    .properties-second {
        width: 335px;
    }
    .meme-edit {
        flex-direction: column;
    }
    canvas {
        width: 355px;
    }
    button {
        border: none;
        border-radius: 10px;
        width: 45px;
        height: 45px;
        margin: 8px;
        background-color: #fff;
    }
    .fonts-select {
        width: 170px;
    }
    .search-bar {
        height: 120px;
        padding: 10px;
        flex-direction: column;
    }
    .main-menu-btn {
        padding: 0;
    }
}