@font-face {
    font-family: impact;
    src: url(../fonts/impact/impact.ttf);
}

.txt-input{
    background-color: rgba(238, 235, 235, 0.74);
    width: 200px;
    height: 40px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.container {
    max-width: 980px;
    margin: 0 auto;
    padding-left: 50px;
    padding-right: 50px;
}

.gallery-container {
    grid-template-columns: 353px 353px 353px 353px;
    column-gap: 20px;
    row-gap: 20px;
}

.logo {
    width: 100px;
}

.main-nav {
    padding-top: 10px;
    padding-bottom: 10px;
}

.main-menu-btn {
    width: 130px;
    font-weight: 700;
}

.image-item {
    width: 100%;
}

.txt-input{
    height: 20px;
    width: 200px;
}

/* helpers */

.align-center {
    text-align: center;
}

/* ul helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

/* flex-helpers */

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.diraction-column{
    flex-direction: column;
}

/* grid helpers */

.grid {
    display: grid;
}